###TemplatesList: VLT_SEED_v8,VLT_SEED_TEST

## VLT_SEED_v8

#0 Config info
#0_VLT_SEED_v8_DocumentTemplates: ..\VLT_SEED_v8\VLT_01\Documents\Templates
#0_VLT_SEED_v8_BINARIES: ..\VLT_SEED_v8\SMARTS\UTILITIES
#0_VLT_SEED_v8_ReferencesToRemove: VLT_BASE_VerX,VLT_BASE_Ver8
#0_VLT_SEED_v8_SMARTS1: ..\VLT_SEED_v8\SMARTS\VLT_BASE_VerX.xlam
#0_VLT_SEED_v8_SMARTS2: 
#0_VLT_SEED_v8_SMARTS3: 
#0_VLT_SEED_v8_Project_Configuration_ID: 1
#0_VLT_SEED_v8_Document_Index_ID: 1
#0_VLT_SEED_v8_Document_Configuration_ID: 1
#0_VLT_SEED_v8_Config_Sheet_Name: Config
#0_VLT_SEED_v8_DocumentIndex_Publish_Path: ..\VLT_01\Publish\CONFIG\Document_Index.xml

#1 Rename and copy to Template folder
#1_VLT_SEED_v8_FileList: DocumentIndex,ProjectConfiguration,DocumentsConfiguration,Dictionary_REGiX,Dictionary_UoM_Matrix,Dictionary_ATTRIX,Dictionary_List_Matrix,SPEC_ANSI_B36_19,JTC_Comparer
#1_VLT_SEED_v8_DocumentIndex: ..\VLT_SEED_v8\VLT_01\Config\Configurations\VLT_SEED_v8 - Document Index_v1.0.xlsm
#1_VLT_SEED_v8_ProjectConfiguration: ..\VLT_SEED_v8\VLT_01\Config\Configurations\VLT_SEED_v8 - Project Configuration_v1.0.xlsm
#1_VLT_SEED_v8_DocumentsConfiguration: ..\VLT_SEED_v8\VLT_01\Config\Configurations\VLT_SEED_v8 - Documents Configuration_v1.0.xlsm
#1_VLT_SEED_v8_Dictionary_REGiX: ..\VLT_SEED_v8\VLT_01\Config\Dictionaries\Validations\VLT_SEED_v8 - REGiX Dictionary_v1.xlsm
#1_VLT_SEED_v8_Dictionary_UoM_Matrix: ..\VLT_SEED_v8\VLT_01\Config\Dictionaries\UoMs\VLT_SEED_v8 - UoM Matrix_v1.xlsm
#1_VLT_SEED_v8_Dictionary_ATTRIX: ..\VLT_SEED_v8\VLT_01\Config\Dictionaries\Att Matrix\VLT_SEED_v8 - ATTRIX v2_0.xlsm
#1_VLT_SEED_v8_Dictionary_List_Matrix: ..\VLT_SEED_v8\VLT_01\Config\Dictionaries\Lists Matrix\VLT_SEED_v8 - Lists Matrix v1_0.xlsm
#1_VLT_SEED_v8_SPEC_ANSI_B36_19: ..\VLT_SEED_v8\VLT_01\Config\Specifications\ANSI_B36_19\VLT_SEED_v8 - ANSI B36_19 v1.0.xlsm
#1_VLT_SEED_v8_JTC_Comparer: ..\VLT_SEED_v8\VLT_01\Documents\Templates\JTC Comparer\VLT_SEED_v8 - JTC Comparer v2.0.xlsm

#2 Set new Config data
#2_VLT_SEED_v8_FileList: Dictionary_REGiX,Dictionary_UoM_Matrix,Dictionary_ATTRIX,Dictionary_List_Matrix,SPEC_ANSI_B36_19
#2_VLT_SEED_v8_Dictionary_REGiX
#2_VLT_SEED_v8_Dictionary_UoM_Matrix
#2_VLT_SEED_v8_Dictionary_ATTRIX
#2_VLT_SEED_v8_Dictionary_List_Matrix
#2_VLT_SEED_v8_SPEC_ANSI_B36_19

#3 Change References to new Macros Path
#3_VLT_SEED_v8_FileList: Dictionary_REGiX,Dictionary_UoM_Matrix,Dictionary_ATTRIX,Dictionary_List_Matrix,SPEC_ANSI_B36_19
#3_VLT_SEED_v8_Dictionary_REGiX
#3_VLT_SEED_v8_Dictionary_UoM_Matrix
#3_VLT_SEED_v8_Dictionary_ATTRIX
#3_VLT_SEED_v8_Dictionary_List_Matrix
#3_VLT_SEED_v8_SPEC_ANSI_B36_19


## VLT_SEED_TEST
